# Build
.build/
Build/

# Swift Package Manager
.swiftpm/xcode/package.xcworkspace/
.swiftpm/xcode/xcuserdata/

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/

# macOS
.DS_Store
._*

# App bundle
*.app

# Archives
*.zip

# Compiled
*.o
*.d
*.dia
*.swp
